{% extends '@!EasyAdmin/crud/index.html.twig' %}

{% block content_header_wrapper %}
    <div class="crud-title-spacing"></div>
    <div class="crud-container">
        {{ parent() }}
    </div>
{% endblock %}

{% block main %}
    <div class="crud-container">
        {{ parent() }}
    </div>
{% endblock %}

{% block content_footer_wrapper %}
    {% set footer_content %}{{ parent() }}{% endset %}
    {% if footer_content is not empty %}
        <div class="crud-footer">
            {{ footer_content|raw }}
        </div>
    {% endif %}
{% endblock %}